.container {
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(223, 225, 226);
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

.node text {
  font: 9px helvetica;
  margin-left: 5px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}
